@import"global.css";

#inbox input.searchField{
    display: block;
    margin: auto;
    width: 90%;
    max-width: 300px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(211, 200, 200);    
}
#inbox textarea.searchField{
    display: block;
    margin: 10px auto;
    width: 90%;
    max-width: 300px;
    padding:  10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(211, 200, 200);     
}
#inbox #searchContainer{
    display: block;
    margin: 10px auto;
    width: 90%;
    max-width: 300px;
    height: 200px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(211, 200, 200);  
    overflow-y: auto;
    display: none;   
}
#inbox .column{
    padding: 20px 15px;
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
}
#inbox .column .inbox{
    width: 100%;
    display: flex;
    align-items: baseline;
}
#inbox .column .user-inbox{
    justify-content: flex-end;
    margin: 13px 0;
}
#inbox .column .inbox .msg-header{
    max-width: 53%;    
    margin-left: 10px;
}
.column .inbox .msg-header p{
    color: #fff;
    background: #007bff;
    border-radius: 10px;
    padding: 8px 8px;
    font-size: 15px;
    word-break: break-all;    
}
.column .user-inbox .msg-header p{
    color: rgb(211, 200, 200);  
    background: #efefef;
}
.wrapper .inbox{
    width: 100%;
    display: flex;
    align-items: baseline;
}
.wrapper .user-inbox{
    justify-content: flex-end;
    margin: 13px 0;
}
.wrapper .inbox .icon{
    height: 40px;
    width: 40px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 18px;
    background: #007bff;
}

.inbox .msg-header p{
    color: #fff;
    background: #007bff;
    border-radius: 10px;
    padding: 8px 10px;
    font-size: 14px;
    word-break: break-all;
}
.user-inbox .msg-header p{
    color: rgb(211, 200, 200);  
    background: #efefef;
}